{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" style="position: fixed; bottom: 0; right: 10px; height: 100px;" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p style="padding: 25px;">El vostre usuari i la contrasenya no són correctes.</p>
    </div>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
        <div class="alert alert-danger" style="position: fixed; bottom: 0; right: 10px; height: 100px;" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        <p style="padding: 25px;">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        </div>
    {% else %}
        <div class="alert alert-danger" style="position: fixed; bottom: 0; right: 10px; height: 100px;" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p style="padding: 25px;">Please login to see this page.</p>
        </div>
    {% endif %}
{% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <style>
    ::placeholder{
        text-align: left !important;
    }
    </style>
    <div class="container w-25 my-auto pb-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="card card-signin">
          <div class="card-body">
            <h5 class="card-title text-center">Accedir</h5>
            <form class="form-signin" method="post" action="#">
                {% csrf_token %}
              <div class="form-label-group">
                    <input type="text" name="username" autofocus="" class="form-control" required="" id="id_username" maxlength="254" placeholder="Usuari">
                    <label for="id_username">Usuari</label>
                </div>
                <div class="form-label-group">
                    <input type="password" name="password" required="" class="form-control" id="id_password" placeholder="Contrasenya">
                    <label for="id_password">Contrasenya</label>
                </div>
                <div class="form-label-group">
                    <button class="btn btn-lg btn-block text-uppercase" type="submit" style="background-color: #e59500;">Entrar</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <p class="text-center"><a class="text-body" href="{% url 'password_reset' %}">Has perdut la contrasenya?</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}