{% extends 'base.html' %}
{% block menu %}
  <h2 class="text-uppercase" style="position: absolute;z-index: 1;padding: 20px 15px 15px 15px;">CAMBIA LA TEVA CONTRASENYA</h2>
{% endblock %}
{% block content %}
<div class="container col-12 my-auto" align="center">
    <form action="" method="post">{% csrf_token %}
        {% if form.email.erros %} {{ form.email.erros }} {% endif %}
        <div class="col-12 col-lg-4">
            <input type="email" placeholder="Introdueix el teu correu electrònic" class="form-control mb-3" name="email" required="" id="id_email" maxlength="254">
        <button type="submit" class="btn btn-outline-dark btn-lg w-100">Cambia la teva contrasenya</button>
        </div>

    </form>
</div>
{% endblock %}

