<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <li>{{ infooferta.nom_oferta }}</li>
    <li>{{ infooferta.poblacio }}</li>
<li>{{ infooferta.telefon }}</li>
<li>{{ infooferta.lloc_treball_sofereix }}</li>
<li>{{ infooferta.horari }}</li>
<li>{{ infooferta.caracteristiques }}</li>
<li>{{ infooferta.numero_vacants }}</li>
<li>{{ infooferta.salari }}</li>
    <li>{{ infooferta.salari }}</li>
    <li>{{ infooferta.empresadelaoferta.user.get_username }}</li>
    {{ mensaje }}
<li><a href="{% url 'home:estudiant:inscriures' infooferta.id %}">Incriures</a></li>

</body>
</html>
