<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>informacio del estudiant</h1>
<h1>{{ estudiant.nom }}</h1>
<h1>{{ estudiant.cognom }}</h1>
<h1>{{ estudiant.dni }}</h1>
<h1>{{ estudiant.adreca }}</h1>
<h1>{{ estudiant.poblacio }}</h1>
<h1>{{ estudiant.codi_postal }}</h1>
<h1>{{ estudiant.telefon }}</h1>
<h1>{{ estudiant.correu_electronic }}</h1>
<h1>{{ estudiant.edat }}</h1>
<h1>{{ estudiant.estudis }}</h1>
<h1>{{ estudiant.experiencia }}</h1>

</body>
</html>