
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}<!--Contra la falsificacion de peticions-->
{{ editar_oferta.as_p }}

<input type="submit" value="Registrame">
</form>
        <li><a href="{% url 'home:empresa:index_empresa'%}">Submit</a></li>
        <li><a href="{% url 'home:empresa:eliminar' id %}">Delete</a></li>
        <li><a href="{% url 'home:empresa:persones_inscrites' id %}">Persones Inscrits</a></li>



</body>
</html>