{% extends 'base.html' %}
{% block content %}
<!-- Header -->
    <div class="container text-center my-auto">
      <h1 class="mb-1 text-uppercase">La nova web <br>per trobar feina.</h1>
      <h3 class="mb-5">
        <em>Una nova aplicació creada per nosaltres els estudiants,</em><br>
        <em> perquè nosaltres també tenim dret a treballar.</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'login' %}">Accedir</a>
    </div>
    <div class="overlay"></div>

{% endblock %}